<header class="mt-5 bg-blue footer-dashUYC">
    <p class="text-center text-white UJCsS__XA">Capstone © <%= new Date().getFullYear() %></p>
</header>


<style>
    .footer-dashUYC{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 99;
        margin-top: 10px;
    }
    .UJCsS__XA{
        padding: 7px 0px;
    }
</style>