<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tools</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Todo List</a></li>
              <li><a href="#">Communiaction</a></li>
              <li><a href="#">What to Do Next ?</a></li>
              <li><a href="#">Updates</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Sharing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Main</h4>
            <ul class="list-unstyled">
              <li><a href="#">Links Share</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Reports</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>R&D</h4>
            <ul class="list-unstyled">
              <li><a href="#">Public Reports</a></li>
              <li><a href="#">Public Works</a></li>
              <li><a href="#">New Technologi</a></li>
              <li><a href="#">Googel</a></li>
              <li><a href="#">Reminders</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2020 - Tracker.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>