<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <div class="nav-wraper container">
      <a class="navbar-brand" href="/">〄 WorkSpace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <% if(nav == false) { %> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/share-work">Share Work</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/todo-list">Todo</a>
          </li> -->
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Important Link 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/note"><i class="fas fa-book-open"></i>&nbsp;&nbsp; Notes</a>
              <a class="dropdown-item" href="/what-is-next"><i class="fas fa-asterisk"></i>&nbsp;&nbsp; What to do Next?</a>
              <a class="dropdown-item" href="/q&a"><i class="fas fa-question"></i>&nbsp;&nbsp; Questions & Answers</a>
              <!-- <a class="dropdown-item" href="/team-management">Team Management</a> -->
              <a class="dropdown-item" href="/other/image"><i class="far fa-images"></i>&nbsp;&nbsp; Image</a>
              <!-- <a class="dropdown-item" href="/other"><i class="fas fa-american-sign-language-interpreting"></i> OTHER<span id="new">NEW</span><div id="BETA">BETA VERSION (V1.0.1)</div></a> -->
              <a class="dropdown-item" href="/account-settings"><i class="fas fa-user-cog"></i>&nbsp;&nbsp; Setting</a>
            </div>
          </li>
        </ul>
        <% } %>
        <ul class="nav navbar-nav navbar-right logout">
          <% if (nav == true ) {%>
          <li class="nav-item active text-center"><a href="/" class="nav-link nav-linkk" data-toggle="modal" data-target="#login"> Login</a></li>
          <%} else { %>
            <li class="nav-item active"><a href="/logout" class="nav-link"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
           <% } %> 
        </ul>
      </div>
      </div>
    </div>
  </nav>


  <!-- model -->
 <div class="modal fade" id="login" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog shadow-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>

            <!-- change to email -->
            <input type="text" class="form-control" name="email" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" autocomplete="off" required>
          </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" style="margin-right: 250px;" data-toggle="modal" data-target="#forgot" >Forgot Password</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-blue{
    background: #134872;
    background-image: linear-gradient(60deg,#134872,#1881d6);
  }
  #new{
    color:red;
    font-size:10px;
    margin-top: 35px;
    padding: 2px;
    background-color: #41a3f328;
    border-radius: 4px;
    margin-left: 5px;
  }
  #BETA{
    color: #28a745;
    font-size: 8px;
    margin-top: 4px;
    border-bottom: 1px solid;
  }
</style>

<!-- forgot model -->
<div class="modal fade" id="forgot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
style="background: #4d677c;"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/forgot-password" method="post" onsubmit="val()">
          <div class="msg"></div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Your Email ">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="date">Your Date of Birth</label>
            <input type="date" class="form-control" id="date" name="date" aria-describedby="emailHelp">
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="date">New Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="col">
              <label for="date">Confirm Password </label>
              <input type="password" class="form-control" id="cPassword" placeholder="Confirm Password" autocomplete="off">
            </div> 
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4">Change password</button>
      </form>
      </div>
    </div>
  </div>
</div>


<script>
  var pass = document.getElementById('password').value;
  var cPass = document.getElementById('cPassword').value;
  function val(){
  if(pass != cPass){
    const div = document.createElement('div');
    div.className = 'temp';
    div.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Password Error!</strong>Please check .
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>`;
        document.querySelector('.msg').appendChild(div); 
        return false;
  }
}
</script>