<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="nav-wraper container">
      <a class="navbar-brand" href="/">Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <% if(nav == false) { %> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Share Work</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Todo</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Important Link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Logs</a>
              <a class="dropdown-item" href="#">Task</a>
              <a class="dropdown-item" href="#">What to do ?</a>
              <a class="dropdown-item" href="#">Questions</a>
            </div>
          </li>
        </ul>
        <% } %>
        <ul class="nav navbar-nav navbar-right logout">
          <% if (nav == true ) {%>
          <li class="nav-item active"><a href="/" class="nav-link" data-toggle="modal" data-target="#login"> Login</a></li>
          <%} else { %>
            <li class="nav-item active"><a href="/logout" class="nav-link"> Logout</a></li>
           <% } %> 
        </ul>
      </div>
      </div>
    </div>
  </nav>


  <!-- model -->
 <div class="modal fade" id="login" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog shadow-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" autocomplete="off" required>
          </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>