<%- include ('partials/navbar') -%>

<!-- banner -->
<div class="container">
    <div class="jumbotron bg-image rounded-bottom">
        <h1 class="display-4">Welcome <%= user.name %></h1>
        <p class="lead">Fell Happy To see You Again.</p>
        <hr class="my-4">
        <p>Complete Your Pending Work</p>
      </div>

<div class="container">
    <div class="row mt-2">
         <div class="col-4">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Reminder
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Links
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Online
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </ul>
            
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Reminders</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Notes</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Links</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <textarea name="note" id="" cols="90" rows="10" placeholder="Work Place and Make Notes"></textarea>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
              </div>
        </div>
    </div>
</div>

<style>
    .bg-image{
        background-image: linear-gradient(50deg,rgba(46, 101, 173, 0.4),rgba(11, 33, 46, 0.7)),url(https://images.pexels.com/photos/989946/pexels-photo-989946.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-origin: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>