<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="JEzOEZD9ke-W13ZVgQCxHVz1Fzi0wQitCfOulJ9RxIQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:type" content="website">
  <meta property="og:url" content='https://work.vegihub.in'>
  <meta property="og:title" content="workspace" />
  <meta property="og:description" content="WorkSpace for storing private data" />
  <meta property="og:image" itemprop="image" content="/favicon/apple-touch-icon.png">
  <meta property="og:type" content="website" />
  <title>
    <%= title %> - WorkSpace
  </title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/footer.css">
  <link rel="stylesheet" href="/mobile.css">
  <script src="/bootstrap/jquery.js"></script>
  <script src="/fontawesome.js"></script>
  <link rel="stylesheet" href="/fontawesome.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ajax.css">
  <link rel="stylesheet" href="/filePOD.css">
  <link rel="stylesheet" href="/preview.css">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      FilePond.registerPlugin(
        FilePondPluginImagePreview,
        FilePondPluginImageResize,
        FilePondPluginFileEncode
      );
      FilePond.setOptions({
        stylePanelAspectRatio: 150 / 100,
        imageResizeTargetWidth: 100,
        imageResizeTargetHeight: 150,
      })
      FilePond.parse(document.body);
    });

  </script>
</head>

<body>
  <div id="loader" class="center"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <%- body %>

</body>

<pre>
  <!-- https://code.jquery.com/jquery-3.5.1.slim.min.js -->
</pre>

<script>

  valiDate = () => {
    var fullName = document.getElementById('fullName').value;
    var cPassword = document.querySelector('.confirm').value;
    var password = document.querySelector('.pass').value;
    const tc = document.getElementById('tc').checked;

    if (cPassword != password) {
      const div = document.createElement('div');
      div.className = 'row';
      div.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Password Error !</strong> Password Not Maching. Try Again
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>`;
      document.querySelector('.message').appendChild(div);
      return false;
    }
    if (fullName.length <= 5) {
      const div = document.createElement('div');
      div.className = 'row';
      div.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Full Name !</strong> Please Enter Your Full Name Try Again .
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>`;
      document.querySelector('.message').appendChild(div);
      return false;
    }
    if (password.length <= 5) {
      const div = document.createElement('div');
      div.className = 'row';
      div.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Password Error!</strong>Enter(5 char max)Password.Try Again.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>`;
      document.querySelector('.message').appendChild(div);
      return false;
    }
    if (tc == false) {
      const div = document.createElement('div');
      div.className = 'row';
      div.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Terms & Conditions !</strong>Please Check T&C to Continue.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>`;
      document.querySelector('.message').appendChild(div);
      return false;
    }
  }

  passWord = () => {
    const newPassword = document.getElementById('password').value;
    const confirmPassword = document.getElementById('cPassword').value;
    if (newPassword != confirmPassword) {
      const div = document.createElement('div');
      div.className = 'temp';
      div.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Password Error!</strong>Please check .
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>`;
      document.querySelector('.give').appendChild(div);
      return false;
    }
  }


  document.onreadystatechange = function () {
    if (document.readyState !== "complete") {
      document.querySelector("body").style.visibility = "hidden";
      document.querySelector("#loader").style.visibility = "visible";
    } else {
      document.querySelector("#loader").style.display = "none";
      document.querySelector("body").style.visibility = "visible";
    }
  };

</script>
<style>
  
  #loader {
    border: 4px solid #2196f3;
    border-radius: 50%;
    border-top: 4px solid #9e9e9e;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .filepond--item {
    width: 140px !important;
    height: 200px !important;
  }
</style>

</html>