

<div class="sidenav">
    <div class="login-main-text">
       <h2>Work Spacee<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        <!-- message partisl -->

        <%- include ("partials/messages")%>
          <form action="/login" method="post">
             <div class="form-group">
                <label>Eamil</label>
                <input type="text" class="form-control" name="email" placeholder="Eamil">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-black">Login</button>
             <a href="/register" class="btn btn-secondary">Register</a>
             <a href="/forgot-password" class="btn btn-primary" style="background-color: #607d8b;border-color: #607d8b;">Forgot Password</a>
          </form>
       </div>
    </div>
 </div>
 <style>

.main-head{
    height: 150px;
    background: #FFF;
   
}
.btn-black:hover{
    color: #607d8b;
}
.btn-primary:hover{
    background-color: #3b4c55 !important;
}
.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
 </style>