<%- include ('partials/navbar') -%>
<%- include('partials/messages') -%>
<%- include ('partials/important') -%>
<%- include('partials/messanger') -%>

<div class="otherBigWrapper container">
    <div class="box box1"><i class="fas fa-video fa-5x"></i>Video</div>
    <div class="box box2"><i class="fas fa-file-audio fa-5x"></i>Audio</div>
    <div class="box box3"><i class="fas fa-file-invoice fa-5x"></i>File</div>
    <a href="/other/image"><div class="box box1"><i class="fas fa-camera-retro fa-5x"></i>Pictures</div></a>
    <div class="box box1"><i class="fab fa-cloudversify fa-5x"></i>Cloud</div>
    <div class="box box1"><i class="fas fa-folder-plus fa-5x"></i>Create Folder</div>
</div>