@media screen and (min-width:300px) and (max-width:550px){
    .sidenav{
        height: 50% !important;
    }
    .IK_SjsI{
        width: 100% !important;
    }
    .innerBGbg-image{
        height: 100% !important;
    }
    .col-4{
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-8{
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .LLineEW{
        word-wrap: break-word !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
    .messages_rmpUD{
        width: 90%;
        padding: 10px 17px !important;
    }
    .btn-lg{
        font-size: 1rem !important;
        padding: 6px 20px !important;
    }
}
@media screen and (min-width:600px ) {
    .innerBGbg-image{
        height: 100% !important;
    }
}