*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:#e4e4e4 !important;
}
.logout{
    margin: 0 10px;
    border-radius: 8px;
    transition: .2s ease-in;
}
.logout:hover{
    background-color: rgb(19, 115, 199);

}
.bg-image{
    background-image: linear-gradient(180deg,rgba(74, 82, 90, 0.22),rgba(3, 35, 53, 0.575),rgba(27, 77, 107, 0.575),rgb(81 127 162 / 57%))
    ,url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 !important;
    color: aliceblue;
}
.shdow{
    transition: .2s ease-in-out;
}
.shdow:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}