@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:#e4e4e4 !important;
}
.logout{
    margin: 0 10px;
    border-radius: 8px;
    transition: .2s ease-in;
}
.logout:hover{
    background-color: rgb(19, 115, 199);

}
.bg-image{
    background-image: linear-gradient(180deg,rgba(74, 82, 90, 0.22),rgba(3, 35, 53, 0.575),rgba(27, 77, 107, 0.575),rgb(81 127 162 / 57%))
    ,url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 !important;
    color: aliceblue;
}
.shdow{
    transition: .2s ease-in-out;
}
.shdow:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
textarea{
    border: 1px solid;
    padding:5px 10px;
    outline: none;
    border-radius: 3px;
}

/* notification */
.noti{
    color: #fff;
}
.give{
    position: fixed;
    bottom: 10px;
    left: 16px;
    background: #232323;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 8px 1px 20px 6px rgba(0,0,0,0.22);
    transition: .3s cubic-bezier(1, -0.01, 0.51, 1.46);
}
.toogle{
    bottom: 16px;
}
.question-input{
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #333 !important;
    outline: none !important;
}
.display-question{
    font-size: 20px;
    font-weight: 500;
}
.answer{
    padding: 5px 10px;
    background: #cacaca;
    border-radius: 5px;
}
.from-answer{
    background: #cacaca;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.alert{
    margin: 1rem !important;
}
.display-task{
    padding: .8rem .5rem;
    margin: .5rem;
    background: #eee;
    border-radius: 5px;
}
.project-title{
    font-size: 18px;
}
.user-active {
    height: 8px;
    width: 8px;
    background: #1abb1f;
    border-radius: 20px;
    margin-top: 7px;
}

.list-group-item{
    margin-top: 10px !important;
}
.textarea{
    resize: none;
    font-family: monospace !important;
    background-color: #1d2124 !important;
    color: #23b945 !important;
    font-weight: 100 !important;
    cursor: text;
}
.note-btn{
    padding : 3px 35px !important;
}
/*  */

.img-notFound{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 26px;
    font-weight: 900;
}
.note-msg{
    font-family: 'Poppins', sans-serif; 
    color: #1c75d4;
    font-weight: 900;
}
h2{
    font-family: 'Poppins', sans-serif; 
}
.total_notes{
    display: flex;
    justify-content: space-between;
}
.divBtn{
    padding: 7px 45px;
    background: #1c75d4;
    border-radius: 5px;
    color: rgb(228, 209, 184);
    cursor: pointer;
    font-weight: 700;
    transition: all .2s ease-in-out;
}
.divBtn:hover{
    background-image: linear-gradient(70deg,#da5cb3,#dc3545);
    color: rgb(248, 248, 248);
}
@media screen and (max-width : 500px){
    .nav-linkk{
        padding: .5rem .3rem !important;
        text-align: center;
    }
}
.card1:hover textarea{
    border: 1px solid rgb(78, 163, 233) !important;
    box-shadow: -1px 0px 7px 0px rgb(83, 175, 250);
}


/* other */
.otherBigWrapper{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto;
    margin-top: 60px;
    row-gap: 20px;
}
.otherBigWrapper .box{
    height: 200px;
    background-color: #1c75d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
}
.otherBigWrapper .box:hover{
    transform: scale(1.07);
    background-color: #1667bd;
    box-shadow: 1px 0px 7px 0px #0000004a;
}

/* display profile */
.Dp{
    height: 150px;
    width: 150px;
    border: 3px solid #e4e4e4;
    border-radius: 5px;
}
.jumbotron{
    padding: 1rem 1rem !important;
}